/* Preset Colours */
:root{
	/*font*/
	--mainFontFamily: 'Josefin Sans', sans-serif;
	--mainInfoFont: 'Galada', 'Verdana', serif;
	
	
	/*Colours*/
	--colourOrange: #FFAC81; 
	--colourOrange_RGB: rgb(255, 172, 129); 
  
	--colourPink: #FF928B; 
	--colourPink_RGB: rgb(255, 146, 139); 
  
	/* Peach */
	--colourPeach: #FEC3A6; 
	--colourPeach_RGB: rgb(254, 195, 166); 
	--colourPeach_R: 254; --colourPeach_G: 195; --colourPeach_B: 166;
	--colourPeach_RGB_Transparent: rgb(254, 195, 166, 0.6); 
	--colourPeachLighter_RGB: rgb(254,212,191, 1);
	--colourPeachLighter_RGB_Transparent: rgb(254,212,191, 0.6);
	
	--colourPeach_purpleComp: #C3A6FE;
  
	/* Green */
	--colourGreen: #EFE9AE; 
	--colourGreen_RGB: rgb(239, 233, 174); 
	
	--colourGreenDarker: #9BAD92;
	--colourGreenDarker_RGB_Transparent: rgb(155, 173, 146, 0.9); 
	
	/* Mint */
	--colourMint: #CDEAC0; 
	--colourMint_RGB: rgb(205, 234, 192); 
	--colourMint_RGB_Transparent: rgb(205, 234, 192, 0.7); 
  
	/* Brown */
	--colourBrown: #AB7878; 
	--colourBrownLIGHT_RGB_Transparent: rgb(171,120,120, 0.7); 
	--colourBrownDarker: #392323;
	
	/* Purple */
	--colourPurple: #ADAADF; 
	
	/* Dark Purple */
	--colourDarkPurple: #241F26; 
	--colourDarkPurple_RGB: rgb(36, 31, 38); 
	--colourDarkPurple_RGB_Transparent: rgb(36, 31, 38, 0.8); 
	
	--colourDarkerPurple: #1A161C;
	
	--fontColour: #fff;
	--greyFontColour: #999;
	--maskColour: #66586C;
	--maskColour_RGB: rgb(102, 88, 108, 0.9); 
	
	/*--infoDivColour: ;*/
	
	
	/*Dimensions*/
	--navBarHeight: 60px;
	--navButtonHeight: 40px;
	--navButtonMargin: 12px;
	
	/*z-indexes*/
	--loaderZ: 100;
	
	--navBarZ: 30;	--pplDivZ: 29; --transitionZ: 28;	
	
	--vineLineZ: 11;
	--woodBackZ: 10; --woodLeafZ: 12;
	
	--galleryZ: 27;
}

body,html{
	min-height:100%;
	min-width:250px;
}

body{
	min-width:250px;
	margin:0px;
	overflow-y: scroll;
	overflow-x: hidden;
	
	background:transparent center center;
	background-attachment:fixed;
	background-color: var(--colourDarkPurple);	
	
	font-family: var(--mainFontFamily);
	color:#fff;	
	font-size: 10px;
	
	-webkit-animation:fadeIn 1s ease;
	-moz-animation:fadeIn 1s ease;
	-o-animation:fadeIn 1s ease;
	animation:fadeIn 1s ease;	
}
button,  button:active, button:hover, button:focus{
	border:none;
	outline: none;
}

/* ---  loader --- */
.loading-mask{
	z-index: var(--loaderZ);
	width: 100%;
	height:100%;
	top:0;
	left:0;
	
	background-color: var(--maskColour_RGB);	
	position: fixed;	
}	

.loading-mask_topBar{
	background-color: var(--maskColour);
	height: 100px;
	width: 100%;
	top:0;
	z-index: var(--loaderZ);
	position: fixed;
}
.loading-mask_bottomBar{
	background-color: var(--maskColour);
	height: 100px;
	width: 100%;
	bottom: 0;
	z-index: var(--loaderZ);
	position: fixed;
}

/* -- keyframes -- */ 
.loading-spinner{
	color: white;
	text-align: center;
	margin: 0 auto;
	font-size:30px;
	z-index: calc(var(--loaderZ) + 1);
	top: 45%;
	left:47%;
	position: absolute;
	
	animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes pulseIcon{
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
		box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 50px rgba(255,255,255, 0);
		box-shadow: 0 0 0 50px rgba(255,255,255, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
		box-shadow: 0 0 0 0 rgba(255,255,255, 0);
	}
}
@keyframes pulseIconSmaller{
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
		box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 35px rgba(255,255,255, 0);
		box-shadow: 0 0 0 35px rgba(255,255,255, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
		box-shadow: 0 0 0 0 rgba(255,255,255, 0);
	}
}


/* ---  Navbar --- */
.header{
	position:fixed;
	height: var(--navBarHeight);
	width:100%;	
	margin-top: calc(-1*var(--navBarHeight));
	z-index: var(--navBarZ);
}
.top_navbar{	
	position:relative;
	width: 100%;
	height: var(--navBarHeight);
	margin:0 0;
	
	overflow: hidden;
	
	text-align: center;	
	
	border-bottom-width: 6px;
	border-bottom-style: solid;
	background-color: var(--colourDarkerPurple);	
}
.left_navbar{
	float: left;
	display:inline-block;	
	position: relative;
	/* margin-top: -11px; */
	/* top: 10px; */
}
.right_navbar{
	float:right;
	position: relative;	
	display:inline-block;
}

.top_navbar button{
	position: relative;
	/*top: 10px;*/
	height: var(--navButtonHeight);
	width: var(--navButtonHeight);
	display: inline-block;
	
	margin: var(--navButtonMargin);
	
	font-size: 24px;
	cursor:pointer;	
	text-align:center;	
	background-color: rgb(0, 0, 0, 0);	
	color:#fff;
	
	border: none;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	
	-webkit-transition: box-shadow 0.2s;	
	-moz-transition: box-shadow 0.2s;	
	transition: box-shadow 0.2s;
}
.top_navbar button#treeTab{
	background: url('../media/treeIcon.svg') center no-repeat; 
	background-size: 27px;	
	top: -8px;	
}

.top_navbar button:after{
	position: absolute;
	width: 100%; 
	height: 100%;
	content: '';	
	top: 0;	left: 0;	
	padding: 0;	
	
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;	
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;	
	transition: transform 0.2s, opacity 0.2s;
}
.top_navbar button:before{
	speak: none;
	display: block;
	line-height: 90px;
	font-style: normal;	
	font-weight: normal;	
	font-variant: normal;
	text-transform: none;	
}
.top_navbar button:hover, .top_navbar button:active, .top_navbar button:focus{
	border: none;
	outline: none;
	color: #fff;
}

.top_navbar button:hover:after, .top_navbar button.active:after{
	-webkit-transform: scale(0.85);	
	-moz-transform: scale(0.85);	
	-ms-transform: scale(0.85);	
	transform: scale(0.85);	
	opacity: 0.5;
}

.top_navbar button#homeTab:after{
	box-shadow: 0 0 0 2px var(--colourOrange);	
}
.top_navbar button#treeTab:after{
	box-shadow: 0 0 0 2px var(--colourPink);	
}
.top_navbar button#infoTab:after{
	box-shadow: 0 0 0 2px var(--colourPeach);	
}
.top_navbar button#imgsTab:after{
	box-shadow: 0 0 0 2px var(--colourGreen);	
}
.top_navbar button#pplTab:after{
	box-shadow: 0 0 0 2px var(--colourMint);	
}
.top_navbar button#homeTab:hover, .top_navbar button#homeTab.active{
	box-shadow: 0 0 0 6px var(--colourOrange);	
}
.top_navbar button#treeTab:hover, .top_navbar button#treeTab.active{
	box-shadow: 0 0 0 6px var(--colourPink);	
}
.top_navbar button#infoTab:hover, .top_navbar button#infoTab.active{
	box-shadow: 0 0 0 6px var(--colourPeach);	
}
.top_navbar button#imgsTab:hover, .top_navbar button#imgsTab.active{
	box-shadow: 0 0 0 6px var(--colourGreen);	
}
.top_navbar button#pplTab:hover, .top_navbar button#pplTab.active{
	box-shadow: 0 0 0 6px var(--colourMint);	
}

.top_navbar.homeTabColour{
	border-bottom-color: var(--colourOrange);
}
.top_navbar.treeTabColour{
	border-bottom-color: var(--colourPink);
}
.top_navbar.infoTabColour{
	border-bottom-color: var(--colourPeach);
}
.top_navbar.imgsTabColour{
	border-bottom-color: var(--colourGreen);
}
.top_navbar.pplTabColour{
	border-bottom-color: var(--colourMint);
}

.top_navbar .navTabDiv{
	display:inline-block;
	position: relative;
	opacity: 0;
	font-family: var(--mainFontFamily);
	font-size:14px;
	cursor: default;
	
	width: 0px;	
	transition: width 0.7s, opacity 0.7s;
}
.top_navbar .navTabDiv.active{
	display:inline-block;
	opacity: 1;
	width: 50px;
	transition: width 0.7s, opacity 0.7s;
}

.navTabDiv{
	height: calc(var(--navButtonHeight) + var(--navButtonMargin));
	vertical-align: middle;
	line-height: var(--navButtonHeight);
}

.icon-tree{	
	height: 24px;
	width: 24px;
	transform: scale(1) translate(0, 2px);
}

/* Scroll */
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: var(--colourDarkerPurple); 
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colourBrown); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colourBrown); 
}


/* --- main --- */

#mainDiv{
	width: 100%;
	margin-top: var(--navBarHeight);
}

.peachyTree{
	width: 600px;
	height: 600px;
	margin: 20px auto;
	z-index: 0;
	
	position: absolute; 	
	top: calc(var(--navBarHeight)+10);
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	
	background-image: url('../media/peachyTree.svg'); 
	background-repeat: no-repeat;
}

/* transitions */

.maskTransitionSection {
	top:0;	
	--maskColorBrown: #5A3838;
	--maskColorOrange: #FEA77C;
}
.transitionMask {
	position: fixed;
	z-index: var(--transitionZ);
	width: 100vw; height: 100vh;
	left: -102%; top: auto;
	right: auto; bottom: auto;
	transition: all 2s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.activeTransition{
	left: 100%;
}

#transitionMask1 {
	background-color: var(--maskColorBrown);
}
#transitionMask2 {
	background-color: var(--colourPink);
	transition-delay: 0.6s;
}
#transitionMask3 {
	background-color: var(--colourBrown);
	transition-delay: 0.4s;
}
#transitionMask4 {
	background-color: var(--colourPeach);
	transition-delay: 0.2s;
}
#transitionMask5 {
	background-color: var(--maskColorOrange);
	transition-delay: 0.1s;
}


/*img debug*/
#imgDebugControlsDIV {
	position: fixed;
	left: 20px;
	top: 10%;
	z-index: 40;
	/*display: none;*/
}
.imgDebugControls {
	display: inline-block;
	font-size: 20px;
	color: white;
	background-color: rgb(0, 0, 0, 0);	
	
	border: none;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	
	cursor: pointer;
}
.imgDebugControls:hover{
	color: #eae;
}


/* -- buttons -- */
button#infoTreeLinkBTN, button#treeInfoLinkBTN, 
button#imgInfoLinkBTN, button#imgTreeLinkBTN, 
button#galleryBtn{
	display: none;
	position: absolute;
	height: 60px;
	width: 60px;	
	top: 90px;	
	
	z-index: calc(var(--woodBackZ) + 10); 
	
	font-size: 36px;
	cursor:pointer;	
	background-color: rgb(0, 0, 0, 0);	
	color: white;	
	
	border: none;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	
	-webkit-transition: box-shadow 0.2s, font-size 0.5s ease, background-size 0.5s ease;	
	-moz-transition: box-shadow 0.2s, font-size 0.5s ease, background-size 0.5s ease;	
	transition: box-shadow 0.2s, font-size 0.5s ease, background-size 0.5s ease;
}
button#infoTreeLinkBTN, button#imgTreeLinkBTN{
	background: url('../media/treeIcon.svg') center no-repeat; 
	background-size: 40px;	
	top: 40px;
}

button#infoTreeLinkBTN:after, button#treeInfoLinkBTN:after, 
button#imgInfoLinkBTN:after, button#imgTreeLinkBTN:after,
button#galleryBtn:after{
	position: absolute;
	width: 100%; 
	height: 100%;
	content: '';	
	top: 0;	left: 0;	
	padding: 0;	
	
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	box-shadow: 0 0 0 2px var(--colourPink);	
	
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;	
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;	
	transition: transform 0.2s, opacity 0.2s;
}
button#infoTreeLinkBTN:after, button#imgTreeLinkBTN:after{
	box-shadow: 0 0 0 2px var(--colourPink);
}
button#treeInfoLinkBTN:after, button#imgInfoLinkBTN:after{
	box-shadow: 0 0 0 2px var(--colourPeach);
}
button#galleryBtn:after{
	box-shadow: 0 0 0 2px var(--colourGreen);
}

button#infoTreeLinkBTN:hover, button#treeInfoLinkBTN:hover, 
button#imgInfoLinkBTN:hover, button#imgTreeLinkBTN:hover,
button#galleryBtn:hover{
	font-size: 28px;
	background-size:30px;
}
button#infoTreeLinkBTN:hover, button#imgTreeLinkBTN:hover{
	box-shadow: 0 0 0 6px var(--colourPink);
}
button#treeInfoLinkBTN:hover, button#imgInfoLinkBTN:hover{
	box-shadow: 0 0 0 6px var(--colourPeach);	
}
button#galleryBtn:hover{
	box-shadow: 0 0 0 6px var(--colourGreen);	
}

button#infoTreeLinkBTN:hover:after, button#treeInfoLinkBTN:hover:after, 
button#imgTreeLinkBTN:hover:after, button#imgInfoLinkBTN:hover:after,
button#galleryBtn:hover:after {
	-webkit-transform: scale(0.85);	
	-moz-transform: scale(0.85);	
	-ms-transform: scale(0.85);	
	transform: scale(0.85);	
	opacity: 0.5;
}



/* --- tree Tab -- */
#svgDiv{
	display: none;
	width: 100%;
	position: absolute;
	top: var(--navBarHeight);
	margin-bottom: -80px;
	
	background-color: var(--colourDarkPurple_RGB_Transparent);
}

@media only screen and (max-width: 1322px) {
	#mainSVG{
		left:0 !important;
		right: 0 !important;
	}
}
#mainSVG{
	max-height: 570px;
	width:100%;
	position: relative;
	left:1%;
	right:0;
}
#famViewSVG{
	position:absolute;
	top:0; left: 0;
	display:none;
}

.personCircle{
	width: 100px;
	height: 100px;
	border-radius: 50%;	
	
	background-color:#FFAC81;
	border-width: 3px;
	border-style: solid;
	border-left-color: #FFFFCB;
	border-bottom-color: #FFC997;
	border-right-color: #FFDFA7;
	border-top-color: #FFE7AD;
	
	box-shadow: 
		0 0 0 1px #BF6A3E,
		2px 2px 5px 1px rgb(0, 0, 0, 0.6);
}

.svgTxt{
	cursor: default;
}


.iconPulse{
	position: absolute;
	top: 38%; left: 38%;
	border-radius: 50%;
	background-color: transparent;
	width: 25%; height: 25%;
}
.tree_familyText{
	font-size: 38px;
}
.svg_topLeftArea{
	position: absolute;
	top: 40px; left: 100px;
	height: 100px;
	
}
.svg_topLeftBtns{
	display: none;
}
.zoomBtn{
	display:block;
	position: absolute;
	bottom: 0; left: 0;
	cursor: pointer;
	height: 56px;
	width: 48px;
	background:none;
	
	font-size: 36px;
	color: white;
	opacity: 0.6;
	/*transition: all 0.7s;	*/
	transition: all .4s ease;
}
.btnPulse:hover{
	opacity: 1;
	animation: pulsate 2s infinite;	
}
.zoomPlus{
	display:none;
}

  
.arrowButtonsDiv{
	width: 50%;
	margin: auto;
	position: relative;
	bottom: 100px;
	text-align: center;
	height: 72px;
}
.arrowBtn{
	cursor: pointer;
	height: 56px;
	width: 0px;
	position: relative;
	top: 10px;
	display:inline-block;	
	
	font-size: 48px;
	background:none;
	color: white;
	opacity: 0.8;
	transition: all 0.7s, width 1s;	
	pointer-events: none;
}
.arrowBtn.active{
	width: 48px;
	pointer-events: auto;
	
}

.leftArrow_button{	
	float: left;
}
.rightArrow_button{		
	float: right;
}
.leftArrow_button .iconPulse, .rightArrow_button .iconPulse{
	width: 5%; height: 5%;
	top: 46%; left: 48%;
}
.leftArrow_button:hover, .rightArrow_button:hover{
	opacity: 1;
}
.leftArrow_button:hover .iconPulse, .rightArrow_button:hover .iconPulse{
	animation: pulseIconSmaller 2s infinite;
}


.famIcon {
	position: relative;
	top: 0px;
	width: 0px; height: 70px;
	cursor: pointer;
	display: inline-block;
	margin: 0px;
	opacity: 0.8;
	transition: all 0.7s, width 1s;
	pointer-events: none;
}
.famIcon.active {
	width: 70px;
	margin: auto 20px;
	pointer-events: auto;
}
.siblingIcon_button{
	background: url(../media/siblingsIcon.png);
	background: url(../media/siblingsIcon.svg) no-repeat center;
	
}
.childrenIcon_button{
	background: url(../media/childrenIcon.png);
	background: url(../media/childrenIcon.svg) no-repeat center;
}
.siblingIcon_button:hover, .childrenIcon_button:hover{
	opacity: 1;
	transform: scale(1.1);
}
.siblingIcon_button:hover .iconPulse, .childrenIcon_button:hover .iconPulse{
	animation: pulseIcon 2s infinite;
}

.famIconText{
	position: absolute;
	top: 0;
	font-size: 20px;
	font-family: var(--mainInfoFont);
	color: white;
	opacity: 0;
	transition: opacity 1s ease;
}
#siblingsIconText{
	right: 100%;
}
#childrenIconText{
	left: 78%;
}
.siblingIcon_button:hover #siblingsIconText{
	opacity: 1;
}
.childrenIcon_button:hover #childrenIconText{
	opacity: 1;
}

.arrowButtonsDiv button{
	opacity: 0;
}

.famView_treeIcon{
	position: absolute;
	display: none;
	opacity: 0;
	left:0; top: 50px;
	
	background: url('../media/treeIcon.svg') center no-repeat; 
	background-size: 70px;	
}
.famView_treeIcon:hover{
	opacity: 1;
	transform: scale(1.1);
}
.famView_treeIcon:hover .iconPulse{
	animation: pulseIcon 2s infinite;
}
.focusHighlightGrp{
	opacity: 0;
	transform: scale(0.8);
	transition: all 1s, transform 0.7s;
}
.focusHLT{
	opacity: 1;
	transform: scale(1);
}


.vineLine{
	width: 100%;
	height: 107.4px;
	margin: auto;
	position: relative;
	top: -95px;
	z-index: var(--vineLineZ);
	
	background-image: url('../media/vineLine.svg'); 
	background-repeat: repeat-x;	
}

/* --- info Tab --- */
#infoDiv, #infoDivTree{
	width: 900px;
	height:450px;
	margin: auto;
}
#infoDivTree{
	top: -160px;
	position: relative;
}
#infoDivInfo{
	top: 30px;
	position: relative;
}

#infoDiv{
	position: absolute;
	top: calc(var(--navBarHeight) + 50px);	
	left:0; right: 0;
	display:none;
}
.infoDivSec{
	width: 900px;
	height:450px;	
}
.infoMain{
	width: 75%;
	position: relative;
	margin: auto;
	height: calc(450px - 100px);
	padding: 60px 100px;
	z-index: var(--woodBackZ); 
	
	background-image: url('../media/colouredWood.svg'); 
	background-repeat: no-repeat;	
}

.mainContainerDiv{
	display:none;
}
.infoMain_extended{
	width: 75%;
	position: relative;
	margin: auto;
	height: 335px;
	padding: 175px 100px 50px 100px;
	z-index: var(--woodBackZ); 
	top: -110px;
	display:none;
	
	background-image: url('../media/ivy1.svg'), url('../media/ivy5.svg'), url('../media/colouredWood2.svg'); 
	background-position: left top, right top, center bottom;
	background-repeat: no-repeat, no-repeat, no-repeat;		
	background-size: 300px, 300px, auto;
}

.infoDivSec .infoLineA{
	line-height: 10px !important;
}
.infoDivSec .manyRelatives {
	font-size: 18px;
}
.infoDivSec .aboutBold{
	font-size: 30px;
	font-family: var(--mainInfoFont);
    color: rgb(57,35,35, 0.9);
    text-shadow: 0px 1px 0px rgba(207,186,186,.3), 0px -1px 0px rgba(0, 0, 0,.7);
	font-weight: bold;
	line-height: 50px;
	letter-spacing: 4px;
}
.infoDivSec .aboutSubBold{
	font-size: 30px;
	font-family: var(--mainInfoFont);
    color: rgb(175, 127, 127, 0.8);
    text-shadow: 0px 1px 0px rgba(207,186,186,.3), 0px -1px 0px rgba(0, 0, 0,.7);
	font-weight: bold;
	line-height: 50px;
	letter-spacing: 4px;
	
}


.infoData {
	position: relative;
	cursor: default;
	margin: 10px 0;
	font-size: 18px;	
	color:#CFBABA;
}
.info_name, .info_dates{
	font-family: var(--mainInfoFont);
    color: rgb(57,35,35, 0.9);
    text-shadow: 0px 1px 0px rgba(207,186,186,.3), 0px -1px 0px rgba(0, 0, 0,.7);
	font-weight: bold;
	line-height: 50px;
	letter-spacing: 4px;
}
.info_name{
	font-size: 60px;
	text-align: left;
	left: -3%;
}
.nameSmallerSizing{
	font-size: 50px;
}
.info_dates{
	font-size: 50px;
	text-align: center;	
	letter-spacing: 1px;
}
.info_gen{
	font-size: 30px;
	text-align: right;
	
	position: absolute;
	top: 26%;
	left: 7%;
	/*color: rgb(57,35,35, 0.9);*/
	
}
.info_neeName{
	display: none;
	font-size: 24px;
}
.info_siblings, .info_children {
	display: none;
	font-size: 22px;
	width: 110%;
	line-height: 38px;
}
.info_about{
	font-size: 24px;
}
.infoAboutSect{
	display:none;
}
.infoAboutTable th {
	vertical-align: top;
	text-align: left;	
}
.infoAboutTable td{
	vertical-align: middle;
	text-align: left;
	padding-left: 20px;
}
.infoDivSec .personLink{
	cursor: pointer;
	padding-right: 8px;	
	transition: all 0.5s ease;
}
.infoDivSec .personLink:hover{
	letter-spacing: 1.2px;
	color:#E7DCDC;
}



.nodeCircleGrp{
	cursor: pointer;
	
}

.popInBottom_slower {
	-webkit-animation-name: popInBottom;
	animation-name: popInBottom;
	-webkit-animation-duration: 10s;
	animation-duration: 10s; 
 }
.spouseLineDraw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
  /*animation-iteration-count: infinite;*/
}

@keyframes dash {
	from {
		stroke-dashoffset: 350;
	}
	to {
		stroke-dashoffset: 0;
	}
}


.leafSVG{
	/*width: 320px; height: 264px;*/
	width: 400px; height: 330px;
	
	position: absolute;
	right: -92px;
	top: -64px;
	z-index: var(--woodLeafZ); 
	display: none;
}
.svg_leafImg{
	opacity: 0;
	transition: opacity 1s ease;
}
.svg_leafImg.activeImg{
	opacity: 1;
}


/* --- imgs Tab --- */
#imgsDiv{
	display: none;
	width: 100%;
	position: absolute;
	top: calc(var(--navBarHeight));
	height: 90vh;
	
	/*background-color: var(--colourDarkPurple_RGB_Transparent);*/
	
}
button#galleryBtn{
	display: block;
	right: 10%;
	top: 30px;
	
}
button#galleryExitBtn{
	position: absolute;
	display: block;	
	height: 40px;
	width: 40px;
	right: 0px;
	top: 0px;	
	
	font-size: 40px;
	cursor:pointer;	
	background-color: rgb(0, 0, 0, 0);	
	color: var(--colourPeachLighter_RGB);
	text-shadow: 0px 0px 4px #000;
	transition: color 0.6s ease;
	z-index: calc(var(--galleryZ) + 10);
	
}
button#galleryExitBtn:hover{
	color: var(--colourPeach_purpleComp);
}


#imgGallery{
	position: fixed;
	top: calc(var(--navBarHeight) + 20px);
	left: 5%;
	background-color: var(--colourBrownLIGHT_RGB_Transparent);
	border: 3px solid var(--colourBrown);
	
	z-index: var(--galleryZ);
	
	opacity:0;
	width: 90vw;
	height: 85vh;
	transition: transform 1s ease;
	pointer-events: none;
}
#imgGallery.galleryOpen{
	pointer-events: auto;
}
#imgGallery .vineLine{
	height: 50px;
	top: -12px;
	left: -5vw;
	width: 100vw;
}

#imgGallery  .galleryPersonFocus, #imgGallery  .galleryShowAll, #imgGallery .galleryNoImgs{
	position: absolute;
	top: 0;
	
	font-size: 30px;
	font-family: var(--mainInfoFont);
	color: white;  
	text-shadow: 1px 1px 4px #000;
	
	z-index: calc(var(--galleryZ) + 11);
}
#imgGallery  .galleryPersonFocus{
	right: 70px;	
	text-align: right;
	
}
#imgGallery  .galleryShowAll{
	display: none;
	left: 10px;	
	text-align: left;
	
	cursor: pointer;
	transition: color 0.7s ease;
}
#imgGallery  .galleryShowAll:hover{
	color: var(--colourPeach);  
}
#imgGallery .galleryNoImgs{
	display: none;
	top: 60px;
	left:60px;
	font-size: 40px;
	color: var(--colourMint);
}

#imgGallery .imgGalleryGrid *{
	box-sizing: border-box;
}
#imgGallery .imgGalleryGrid{
	/*position: absolute;*/
	
	width: 100%;
	overflow-y:scroll;
	overflow-x: hidden;
	margin: 0 auto;
}
#imgGallery .imgGalleryGrid:after{
	content: '';
	display: block;
	clear: both;
}

#imgGallery .imgGalleryGrid .grid-item{
	width: 180px;
	height: 180px;
	float: left;
	cursor: pointer;
	
	
	margin-bottom: 2px;
	/*
	border: 2px solid #333;background: var(--colourBrownDarker);
	border-radius:5px;
	border-color: hsla(0, 0%, 0%, 0.5);*/
}
#imgGallery .imgGalleryGrid .grid-item img{
	border-radius:5px;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	margin: auto;
	top:0; left:0; bottom: 0 ; right:0;
	
	border: 0px solid transparent;
	transition: border-color 0.7s ease, border-width 0.3s ease;
}
#imgGallery .imgGalleryGrid .grid-item:hover img{
	border-width: 5px;
	border-color: var(--colourPeach_RGB_Transparent);
}

#imgGallery .imgGalleryGrid .grid-item.grid-item--height2{
	height: 270px;
}
#imgGallery .imgGalleryGrid .grid-item.grid-item--height3{
	height: 360px;
}

#imgGallery .imgGalleryGrid .grid-item.grid-item--width2{
	width: 270px;
}
#imgGallery .imgGalleryGrid .grid-item.grid-item--width3{
	width: 360px;
}




/*scroll*/
.imgGalleryGrid::-webkit-scrollbar{
  width: 0px;
  background: rgb(0, 0, 0, 0); 
}
.imgGalleryGrid::-webkit-scrollbar * {
    background:transparent !important;
}	
.imgGalleryGrid::-webkit-scrollbar-track{
    -webkit-box-shadow: none;
}
.imgGalleryGrid::-webkit-scrollbar-thumb{
    background: white;
    -webkit-box-shadow: none;
}
.imgGalleryGrid::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0, 0);
}
.imgGalleryGrid::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}


#imgsDiv .imgArea{
	position: relative;
	z-index: calc(var(--woodBackZ)+10);
	/* 8 x 10*/
	min-height: 330px;
	
	margin: 100px auto 0 auto;
	
	transition: height 1s ease;
}
#imgsDiv .imgArea img{
	position: absolute;
	opacity: 0;
	width: 445px;
	margin: 0 auto;
	top:0; left:0; bottom: 0 ; right:0;
	
	box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.4);
	border:5px solid var(--colourGreen);
}

#imgsDiv .imgArea figure.imgContainer{
	position: absolute;
	margin: 0 auto;
	width: 455px;
	top:0; left:0; bottom: 0 ; right:0;
	transform: scale(1);
}

#imgsDiv .circlesContainer{	
	width: 455px;
	position: absolute;
	margin: 0 auto;
	left:0; right: 0; top: 0; bottom: 0;	
	/*transform: scale(1);*/
}

#imgsDiv .img_circleTag{
	position: absolute;
	cursor: pointer;
	width: 80px;
	height: 80px;
	
	border-radius: 70px;
	border: 3px solid var(--colourPeach);
	
	
	opacity: 0;
	transition: opacity 0.7s ease;
	
}
#imgsDiv .img_circleTag:hover{
	opacity: 1;
	box-shadow: 0 0 4px 1px var(--colourDarkPurple_RGB_Transparent),
				inset 0 0 4px 1px var(--colourDarkPurple_RGB_Transparent);
}

#imgsDiv .img_circleTagLABEL{
	position: absolute;
	top: 90px;
	left: 20px;
	font-size: 20px;
	font-family: var(--mainInfoFont);
	color: white;  
	text-shadow: 1px 1px 4px #000;
	opacity: 0;
	transition: opacity 1s ease;
	pointer-events: none;
}
#imgsDiv .img_circleTagLABEL.small{
	top: 65px;
	left: 15px;	
}
#imgsDiv .img_circleTagLABEL.smaller{
	top: 41px;
	left: 15px;	
}
#imgsDiv .img_circleTagLABEL.large{
	top: 125px;
	left: 55px;	
}
#imgsDiv .img_circleTag:hover .img_circleTagLABEL{
	opacity: 1;
}

#imgsDiv .imgDivWood{
	width: 450px;
	position: relative;
	margin: -70px auto;
	height: 230px;
	padding: 60px 100px;
	z-index: calc(var(--woodBackZ)+0); 
	
	
	background-image: url('../media/colouredWood3.svg'); 
	background-position: center bottom;
	background-size: auto;
	background-repeat: no-repeat;	
	
}
#imgsDiv .imgDivVines{	
	width: 100%;
	height: 100%;
	position: absolute;
	top:-160px;
	left: 0;
	right: -46px;
	margin: 0 auto;

	background-image: url('../media/ivy5_rotated.svg'), url('../media/ivy1_rotated.svg'); 
	background-position: left top, right top;
	background-size: 200px, 200px;
	background-repeat: no-repeat;	
	
	transition: background-size 1s ease, width 1s ease;
}


#imgsDiv .imgDisplay.landscape .imgArea img{
	width: 445px;	
}
#imgsDiv .imgDisplay.landscape .imgDivVines{
	width: 110%;
	background-size: 200px, 190px;
	
}
#imgsDiv .imgDisplay.portrait .imgArea img,
#imgsDiv .imgDisplay.square .imgArea img {
	width: 345px;	
}

#imgsDiv .imgDisplay.portrait .circlesContainer, 
#imgsDiv .imgDisplay.portrait .imgArea figure.imgContainer,
#imgsDiv .imgDisplay.square .circlesContainer, 
#imgsDiv .imgDisplay.square .imgArea figure.imgContainer{
	width: 355px;
}

@media only screen and (max-width: 800px) {
	#imgsDiv .imgDisplay{
		transform: scale(0.8);
		margin-top: -80px;
	}
}

	/*
	#imgsDiv .imgArea{
		width: 355px;
		height: 355px;		
	}
	/*
	#imgsDiv .circlesContainer{
		width: 310px !important;
		/*transform: scale(0.9);	
	}
	#imgsDiv .imgDivWood{
		height: 150px;
		width: 395px;
		margin: -40px auto;		
	}
	#imgsDiv .imgArea figure.imgContainer{
		width: 310px !important;
		transform: scale(0.9);
	}
	#imgsDiv .imgDivVines, #imgsDiv .imgDisplay.landscape .imgDivVines{	
		width: 93%;
		top: -130px;
		right: -40px;
		background-size: 150px, 150px;		
	}
	#imgsDiv .imgDisplay.landscape .imgArea{
		width: 445px;
	}
	#imgsDiv .imgDisplay.landscape .imgDivVines{
		width: 100%;		
		right: -64px;
	}
	#imgsDiv .imgDisplay.landscape .imgDivWood{
		margin-top: -115px;	
	}
	#imgsDiv .imgDisplay.landscape .imgArea figure.imgContainer{
		width: 360px !important;
	}
	/*#imgsDiv .imgDisplay.landscape .imgArea img{
		width: 350px !important;
	}
	#imgsDiv .imgDisplay.portrait .imgDivWood{
		margin-top: -20px;	
	}
	#imgsDiv .imgArea img, #imgsDiv .imgDisplay.square img {
		width: 300px !important;
	}	*/



/* --- Ppl Tab --- */
#peopleDiv {
	position: fixed;
	height: 80%;
	width: 300px;
	top: var(--navBarHeight);
	right: 0;
	bottom: 0;
	left: 100%;
	padding: 45px 10px;
	overflow-y: scroll;
	
	z-index: var(--pplDivZ); 
	
	transition: transform 0.5s ease;
	
	background-color: var(--colourGreenDarker_RGB_Transparent);
	border-left: 6px solid var(--colourMint);
	border-top: 6px solid var(--colourMint);
	border-bottom: 6px solid var(--colourMint);
}
#peopleDiv button{	
	background: none;
}

#peopleDiv.sliding {
	transform: translate(-100%);	
}
#peopleDivExit{
	position: absolute;
	top: 0; left: 0px;
	color: white;
	font-size:24px;
	cursor: pointer;
}

ul#peopleList li{
	cursor: pointer;	
	overflow: hidden;
	width: 235px; 
	margin: 20px 10px;
	padding: 10px;
	
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none;
	
	transition: all 0.7s;
	transition: width 0.7s;
	
	border-top: 1px solid rgba(255,255,255,0);
	border-bottom: 1px solid rgba(255,255,255,0);
    background-color: rgba(255,255,255,0.1);	
}
ul#peopleList li span{
	transition: all 0.7s;
}
ul#peopleList button.ppl_dropdownBtn{
	margin: 10px;
	cursor: pointer;
	
	font-family: var(--mainFontFamily);
	font-size:24px;
	color:white;
}
ul#peopleList button.ppl_dropdownBtn i{
	margin-left: 30px;
}
ul#peopleList .ppl_dropdownContainer li i{
	margin-right: 23px;
}
ul#peopleList .dropdownActive{
	display: block !important;
}

ul#peopleList .ppl_dropdownContainer{
	display:none;
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
}
ul#peopleList li:hover{
	width: 250px; 
    background-color: rgba(255,255,255,0);
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	
    transform: scale(1, 1.1); 	
	transition: width 0.7s;
	transition: all 0.7s;
}
ul#peopleList li:hover span{
	letter-spacing: 1.6px;
}

ul#peopleList #nonMainDropdownBtn{
	font-size: 18px;
	color: #ddd;
}


/*--searchbox --*/
#peopleDiv .searchDiv{
	position: relative;
	width: 280px; 
	height: 55px;
	top: 0; left: 0;
	padding-left: 10px;
}
#peopleDiv input{
	width: 216px; 
	height: 51px;
	
	font-family: var(--mainFontFamily);
	font-size: 24px;
	color: white;
	/*border: 1px solid #ddd;*/
	border-width: 1px; border-style: solid;
	border-color: #ccc #ddd #ddd #ccc;
	
	
	background: transparent;
	transition: 1s ease-in-out;
	
}
#peopleDiv svg.searchBorder{
	position: absolute;
	left: 10px;
	top: 0;
	fill: none;
	stroke: #fff;
	stroke-dasharray: 180 650;
	stroke-dashoffset: 180;
	transition: 1s ease-in-out;
	
	pointer-events: none;
}
#peopleDiv input::placeholder{
	color: #ddd;
	padding-bottom: -3px;
}
#peopleDiv input[type="text" i]{
	padding: 0 43px 0 10px;
}
#peopleDiv .searchDiv:hover input, #peopleDiv input:focus {
	transition: 1s ease-in-out;
	background: rgb(255, 255, 255, 0.1);
}
#peopleDiv .searchDiv:hover svg.searchBorder, #peopleDiv .input:focus ~ svg.searchBorder{
	stroke-dashoffset: -650;	
}

#peopleDiv input:focus, #peopleDiv input:active{
	outline: none;
}
#peopleDiv #peopleSearchIcon{
	position: absolute;
	left: 240px;
	top: 15px;
	width: 20px;
	height: 20px;
	color: white;
	font-size: 20px;
	cursor: pointer;
}



ol,ul{
	list-style:none;
	padding-inline-start: 0;
	margin-block-start: 0;
    margin-block-end: 0;
	margin-inline-start: 0;
    margin-inline-end: 0;
}
ul#peopleList{
	cursor: default;
	width: 290px; 
	margin: 12px 0;
	padding-top: 10px;
	
	font-size: 16px; 
	border-top: 3px solid #fff;
	
	/*list-style:  square inside url('../media/chevron-left-solid.svg');*/
	
}

/*scroll*/
#peopleDiv::-webkit-scrollbar, .ppl_dropdownContainer::-webkit-scrollbar {
  width: 10px;
  background: var(--colourGreenDarker_RGB_Transparent); 
}
#peopleDiv::-webkit-scrollbar-track{
  border-radius: 3px;
}
#peopleDiv::-webkit-scrollbar-thumb{
  background: var(--colourMint); 
  border-radius: 10px;
}
#peopleDiv::-webkit-scrollbar-thumb:hover {
  background: var(--colourMint); 
}
.ppl_dropdownContainer::-webkit-scrollbar {
	display: none;
}

/* -----------    ------------- */

/* -- smaller screen 1 --- */ 
@media only screen and (max-width: 890px) {
	.infoDivSec{
		width: 100vw;
		margin: 0;
	}
	#infoDiv {
		width: 100vw;
		top: calc(var(--navBarHeight) + 6vw) !important;	
	}
	#infoDivTree {
		width: 100vw;
	}
	.infoMain {
		height: calc(50vw - 100px);
	}
	#infoDiv .infoMain {
		margin-top: -10px;
	}
	.infoMain .infoData {
		font-size: 10%;
	}
	.info_name, .info_dates{
		font-size: 6.5vw !important;
	}
	.info_name .nameSmallerSizing{
		font-size: 5vw !important;
	}
	.info_dates{
		width: 80% !important;
		line-height: 5vw !important;
	}
	.info_gen {
		font-size: 3.75vw !important;
		top: 30% !important;
	}
	.info_neeName .aboutBold, .info_siblings .aboutBold, .info_children .aboutBold{
		font-size: 3.25vw !important;
	}
	.info_neeName{
		font-size: 2.75vw !important;
		height: 5vw;
		margin-top: -1vw !important;
		left: -5vw !important;
	}
	.info_siblings{
		font-size: 2.4vw !important;
		height: 8vw;
		line-height: 4vw !important;
		left: -5vw !important;
	}
	.info_children{
		font-size: 2.4vw !important;
		height: 5vw;
		line-height: 4vw !important;
		left: -5vw !important;
		top: 2vw;
	}
	.infoDivSec .manyRelatives {
		font-size: 2vw !important;
	}
	
	button#treeInfoLinkBTN, button#infoTreeLinkBTN{
		height: 50px !important;
		width: 50px !important;
		top: 10vw !important;
	}
	
	.leafSVG{
		width: 50vw !important;
		
	}
	.leafSVG{
		right: -12vw !important;
	}
	
	
	
	
	.infoMain_extended{
		background-size: 34vw, 34vw, auto !important;
		height: 38vw;
		top: -12vw !important;
		padding-top: 19vw !important;
	}
	.infoAboutTable{
		font-size: 2.4vw !important;
	}
	.infoAboutTable .aboutBold, .infoAboutTable .aboutSubBold{
		font-size: 3.25vw !important;
		line-height: 6vw;
	}
	/*.infoAboutTable table, .infoAboutTable th, .infoAboutTable td {
		border: 1px solid black;
	}	*/
	.infoMain_extended .infoData {
		font-size: 2vw;
	}

	
	
	
	
}


/* -------------------- */