@import "navStyle.css"; @import "imgsTabStyle.css"; @import "pplTabStyle.css"; @import "treeTabStyle.css"; 

/* Preset Colours */
:root{
	/*font*/
	--mainFontFamily: 'Josefin Sans', sans-serif;
	--mainInfoFont: 'Galada', 'Verdana', serif;
	
	
	/*Colours*/
	--colourOrange: #FFAC81; 
	--colourOrange_RGB: rgb(255, 172, 129); 
  
	--colourPink: #FF928B; 
	--colourPink_RGB: rgb(255, 146, 139); 
	--colourPink_RGB_Transparent: rgb(255, 146, 139, 0.5); 
  
	/* Peach */
	--colourPeach: #FEC3A6; 
	--colourPeach_RGB: rgb(254, 195, 166); 
	--colourPeach_R: 254; --colourPeach_G: 195; --colourPeach_B: 166;
	--colourPeach_RGB_Transparent: rgb(254, 195, 166, 0.6); 
	--colourPeachLighter_RGB: rgb(254,212,191, 1);
	--colourPeachLighter_RGB_Transparent: rgb(254,212,191, 0.6);
	
	--colourPeach_purpleComp: #C3A6FE;
  
	/* Green */
	--colourGreen: #EFE9AE; 
	--colourGreen_RGB: rgb(239, 233, 174); 
	
	--colourGreenDarker: #9BAD92;
	--colourGreenDarker_RGB_Transparent: rgb(155, 173, 146, 0.9); 
	
	/* Mint */
	--colourMint: #CDEAC0; 
	--colourMint_RGB: rgb(205, 234, 192); 
	--colourMint_RGB_Transparent: rgb(205, 234, 192, 0.7); 
  
	/* Brown */
	--colourBrown: #AB7878; 
	--colourBrownLIGHT_RGB_Transparent: rgb(171,120,120, 0.7); 
	--colourBrownDarker: #392323;
	
	/* Purple */
	--colourPurple: #ADAADF; 
	
	/* Dark Purple */
	--colourDarkPurple: #241F26; 
	--colourDarkPurple_RGB: rgb(36, 31, 38); 
	--colourDarkPurple_RGB_Transparent: rgb(36, 31, 38, 0.8); 
	
	--colourDarkerPurple: #1A161C;
	
	--fontColour: #fff;
	--greyFontColour: #999;
	--maskColour: #66586C;
	--maskColour_RGB: rgb(102, 88, 108, 0.9); 
	
	/*--infoDivColour: ;*/
	
	
	/*Dimensions*/
	--navBarHeight: 60px;
	--navButtonHeight: 40px;
	--navButtonMargin: 12px;
	
	/*z-indexes*/
	--loaderZ: 100;
	
	--navBarZ: 30;	--pplDivZ: 29; --transitionZ: 28;	
	
	--vineLineZ: 11;
	--woodBackZ: 10; --woodLeafZ: 12;
	
	--galleryZ: 27;
}


body,html{
	min-height:100%;
	min-width:250px;
}

body{
	min-width:250px;
	margin:0px;
	overflow-y: scroll;
	overflow-x: hidden;
	
	background:transparent center center;
	background-attachment:fixed;
	background-color: var(--colourDarkPurple);	
	
	font-family: var(--mainFontFamily);
	color:#fff;	
	font-size: 10px;
	
	-webkit-animation:fadeIn 1s ease;
	-moz-animation:fadeIn 1s ease;
	-o-animation:fadeIn 1s ease;
	animation:fadeIn 1s ease;	
}
button,  button:active, button:hover, button:focus{
	border:none;
	outline: none;
}

/* ---  loader --- */
.loading-mask{
	z-index: var(--loaderZ);
	width: 100%;
	height:100%;
	top:0;
	left:0;
	
	background-color: var(--maskColour_RGB);	
	position: fixed;	
}	

.loading-mask_topBar{
	background-color: var(--maskColour);
	height: 100px;
	width: 100%;
	top:0;
	z-index: var(--loaderZ);
	position: fixed;
}
.loading-mask_bottomBar{
	background-color: var(--maskColour);
	height: 100px;
	width: 100%;
	bottom: 0;
	z-index: var(--loaderZ);
	position: fixed;
}

/* -- keyframes -- */ 
.loading-spinner{
	color: white;
	text-align: center;
	margin: 0 auto;
	font-size:30px;
	z-index: calc(var(--loaderZ) + 1);
	top: 45%;
	left:47%;
	position: absolute;
	
	animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes pulseIcon{
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
		box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 50px rgba(255,255,255, 0);
		box-shadow: 0 0 0 50px rgba(255,255,255, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
		box-shadow: 0 0 0 0 rgba(255,255,255, 0);
	}
}
@keyframes pulseIconSmaller{
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
		box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 35px rgba(255,255,255, 0);
		box-shadow: 0 0 0 35px rgba(255,255,255, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
		box-shadow: 0 0 0 0 rgba(255,255,255, 0);
	}
}



/* --- main --- */

#mainDiv{
	width: 100%;
	margin-top: var(--navBarHeight);
}

.peachyTree{
	width: 600px;
	height: 600px;
	margin: 20px auto;
	z-index: 0;
	
	position: absolute; 	
	top: calc(var(--navBarHeight)+10);
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	
	background-image: url('../media/peachyTree.svg'); 
	background-repeat: no-repeat;
}

/* transitions */

.maskTransitionSection {
	top:0;	
	--maskColorBrown: #5A3838;
	--maskColorOrange: #FEA77C;
}
.transitionMask {
	position: fixed;
	z-index: var(--transitionZ);
	width: 100vw; height: 100vh;
	left: -102%; top: auto;
	right: auto; bottom: auto;
	transition: all 2s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.activeTransition{
	left: 100%;
}

#transitionMask1 {
	background-color: var(--maskColorBrown);
}
#transitionMask2 {
	background-color: var(--colourPink);
	transition-delay: 0.6s;
}
#transitionMask3 {
	background-color: var(--colourBrown);
	transition-delay: 0.4s;
}
#transitionMask4 {
	background-color: var(--colourPeach);
	transition-delay: 0.2s;
}
#transitionMask5 {
	background-color: var(--maskColorOrange);
	transition-delay: 0.1s;
}


/*img debug*/
#imgDebugControlsDIV {
	position: fixed;
	left: 20px;
	top: 10%;
	z-index: 40;
	/*display: none;*/
}
.imgDebugControls {
	display: inline-block;
	font-size: 20px;
	color: white;
	background-color: rgb(0, 0, 0, 0);	
	
	border: none;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	
	cursor: pointer;
}
.imgDebugControls:hover{
	color: #eae;
}


/* -- buttons -- */
button#infoTreeLinkBTN, button#treeInfoLinkBTN, 
button#imgInfoLinkBTN, button#imgTreeLinkBTN, 
button#galleryBtn{
	display: none;
	position: absolute;
	height: 60px;
	width: 60px;	
	top: 90px;	
	
	z-index: calc(var(--woodBackZ) + 10); 
	
	font-size: 36px;
	cursor:pointer;	
	background-color: rgb(0, 0, 0, 0);	
	color: white;	
	
	border: none;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	
	-webkit-transition: box-shadow 0.2s, font-size 0.5s ease, background-size 0.5s ease;	
	-moz-transition: box-shadow 0.2s, font-size 0.5s ease, background-size 0.5s ease;	
	transition: box-shadow 0.2s, font-size 0.5s ease, background-size 0.5s ease;
}
button#infoTreeLinkBTN, button#imgTreeLinkBTN{
	background: url('../media/treeIcon.svg') center no-repeat; 
	background-size: 40px;	
	top: 40px;
}

button#infoTreeLinkBTN:after, button#treeInfoLinkBTN:after, 
button#imgInfoLinkBTN:after, button#imgTreeLinkBTN:after,
button#galleryBtn:after{
	position: absolute;
	width: 100%; 
	height: 100%;
	content: '';	
	top: 0;	left: 0;	
	padding: 0;	
	
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	box-shadow: 0 0 0 2px var(--colourPink);	
	
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;	
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;	
	transition: transform 0.2s, opacity 0.2s;
}
button#infoTreeLinkBTN:after, button#imgTreeLinkBTN:after{
	box-shadow: 0 0 0 2px var(--colourPink);
}
button#treeInfoLinkBTN:after, button#imgInfoLinkBTN:after{
	box-shadow: 0 0 0 2px var(--colourPeach);
}
button#galleryBtn:after{
	box-shadow: 0 0 0 2px var(--colourGreen);
}

button#infoTreeLinkBTN:hover, button#treeInfoLinkBTN:hover, 
button#imgInfoLinkBTN:hover, button#imgTreeLinkBTN:hover,
button#galleryBtn:hover{
	font-size: 28px;
	background-size:30px;
}
button#infoTreeLinkBTN:hover, button#imgTreeLinkBTN:hover{
	box-shadow: 0 0 0 6px var(--colourPink);
}
button#treeInfoLinkBTN:hover, button#imgInfoLinkBTN:hover{
	box-shadow: 0 0 0 6px var(--colourPeach);	
}
button#galleryBtn:hover{
	box-shadow: 0 0 0 6px var(--colourGreen);	
}

button#infoTreeLinkBTN:hover:after, button#treeInfoLinkBTN:hover:after, 
button#imgTreeLinkBTN:hover:after, button#imgInfoLinkBTN:hover:after,
button#galleryBtn:hover:after {
	-webkit-transform: scale(0.85);	
	-moz-transform: scale(0.85);	
	-ms-transform: scale(0.85);	
	transform: scale(0.85);	
	opacity: 0.5;
}



/* -----------    ------------- */

/* -- smaller screen 1 --- */ 
@media only screen and (max-width: 890px) {
	.infoDivSec{
		width: 100vw;
		margin: 0;
	}
	#infoDiv {
		width: 100vw;
		top: calc(var(--navBarHeight) + 6vw) !important;	
	}
	#infoDivTree {
		width: 100vw;
	}
	.infoMain {
		height: calc(50vw - 100px);
	}
	#infoDiv .infoMain {
		margin-top: -10px;
	}
	.infoMain .infoData {
		font-size: 10%;
	}
	.info_name, .info_dates{
		font-size: 6.5vw !important;
	}
	.info_name .nameSmallerSizing{
		font-size: 5vw !important;
	}
	.info_dates{
		width: 80% !important;
		line-height: 5vw !important;
	}
	.info_gen {
		font-size: 3.75vw !important;
		top: 30% !important;
	}
	.info_neeName .aboutBold, .info_siblings .aboutBold, .info_children .aboutBold{
		font-size: 3.25vw !important;
	}
	.info_neeName{
		font-size: 2.75vw !important;
		height: 5vw;
		margin-top: -1vw !important;
		left: -5vw !important;
	}
	.info_siblings{
		font-size: 2.4vw !important;
		height: 8vw;
		line-height: 4vw !important;
		left: -5vw !important;
	}
	.info_children{
		font-size: 2.4vw !important;
		height: 5vw;
		line-height: 4vw !important;
		left: -5vw !important;
		top: 2vw;
	}
	.infoDivSec .manyRelatives {
		font-size: 2vw !important;
	}
	
	button#treeInfoLinkBTN, button#infoTreeLinkBTN{
		height: 50px !important;
		width: 50px !important;
		top: 10vw !important;
	}
	
	.leafSVG{
		width: 50vw !important;
		
	}
	.leafSVG{
		right: -12vw !important;
	}
	
	
	
	
	.infoMain_extended{
		background-size: 34vw, 34vw, auto !important;
		height: 38vw;
		top: -12vw !important;
		padding-top: 19vw !important;
	}
	.infoAboutTable{
		font-size: 2.4vw !important;
	}
	.infoAboutTable .aboutBold, .infoAboutTable .aboutSubBold{
		font-size: 3.25vw !important;
		line-height: 6vw;
	}
	/*.infoAboutTable table, .infoAboutTable th, .infoAboutTable td {
		border: 1px solid black;
	}	*/
	.infoMain_extended .infoData {
		font-size: 2vw;
	}

	
	
	
	
}


/* -------------------- */