/* ---  Navbar Styles --- */
.header{
	position:fixed;
	height: var(--navBarHeight);
	width:100%;	
	margin-top: calc(-1*var(--navBarHeight));
	z-index: var(--navBarZ);
}
.top_navbar{	
	position:relative;
	width: 100%;
	height: var(--navBarHeight);
	margin:0 0;
	
	overflow: hidden;
	
	text-align: center;	
	
	border-bottom-width: 6px;
	border-bottom-style: solid;
	background-color: var(--colourDarkerPurple);	
}
.left_navbar{
	float: left;
	display:inline-block;	
	position: relative;
	/* margin-top: -11px; */
	/* top: 10px; */
}
.right_navbar{
	float:right;
	position: relative;	
	display:inline-block;
}

.top_navbar button{
	position: relative;
	/*top: 10px;*/
	height: var(--navButtonHeight);
	width: var(--navButtonHeight);
	display: inline-block;
	
	margin: var(--navButtonMargin);
	
	font-size: 24px;
	cursor:pointer;	
	text-align:center;	
	background-color: rgb(0, 0, 0, 0);	
	color:#fff;
	
	border: none;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	
	-webkit-transition: box-shadow 0.2s;	
	-moz-transition: box-shadow 0.2s;	
	transition: box-shadow 0.2s;
}

.top_navbar button#treeTab{
	background: url('../media/treeIcon.svg') center no-repeat; 
	background-size: 27px;	
	top: -8px;	
}

.top_navbar button:after{
	position: absolute;
	width: 100%; 
	height: 100%;
	content: '';	
	top: 0;	left: 0;	
	padding: 0;	
	
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;	
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;	
	transition: transform 0.2s, opacity 0.2s;
}

.top_navbar button:before{
	speak: none;
	display: block;
	line-height: 90px;
	font-style: normal;	
	font-weight: normal;	
	font-variant: normal;
	text-transform: none;	
}

.top_navbar button:hover, .top_navbar button:active, .top_navbar button:focus{
	border: none;
	outline: none;
	color: #fff;
}

.top_navbar button:hover:after, .top_navbar button.active:after{
	-webkit-transform: scale(0.85);	
	-moz-transform: scale(0.85);	
	-ms-transform: scale(0.85);	
	transform: scale(0.85);	
	opacity: 0.5;
}

.top_navbar button#homeTab:after{
	box-shadow: 0 0 0 2px var(--colourOrange);	
}

.top_navbar button#treeTab:after{
	box-shadow: 0 0 0 2px var(--colourPink);	
}

.top_navbar button#fullTreeTab:after{
	box-shadow: 0 0 0 2px var(--colourBrown);	
}

.top_navbar button#infoTab:after{
	box-shadow: 0 0 0 2px var(--colourPeach);	
}

.top_navbar button#imgsTab:after{
	box-shadow: 0 0 0 2px var(--colourGreen);	
}

.top_navbar button#pplTab:after{
	box-shadow: 0 0 0 2px var(--colourMint);	
}

.top_navbar button#homeTab:hover, .top_navbar button#homeTab.active{
	box-shadow: 0 0 0 6px var(--colourOrange);	
}

.top_navbar button#treeTab:hover, .top_navbar button#treeTab.active{
	box-shadow: 0 0 0 6px var(--colourPink);	
}

.top_navbar button#fullTreeTab:hover, .top_navbar button#fullTreeTab.active{
	box-shadow: 0 0 0 6px var(--colourBrown);	
}

.top_navbar button#infoTab:hover, .top_navbar button#infoTab.active{
	box-shadow: 0 0 0 6px var(--colourPeach);	
}

.top_navbar button#imgsTab:hover, .top_navbar button#imgsTab.active{
	box-shadow: 0 0 0 6px var(--colourGreen);	
}

.top_navbar button#pplTab:hover, .top_navbar button#pplTab.active{
	box-shadow: 0 0 0 6px var(--colourMint);	
}


.top_navbar.homeTabColour{
	border-bottom-color: var(--colourOrange);
}

.top_navbar.treeTabColour{
	border-bottom-color: var(--colourPink);
}

.top_navbar.fullTreeTabColour{
	border-bottom-color: var(--colourBrown);
}

.top_navbar.infoTabColour{
	border-bottom-color: var(--colourPeach);
}

.top_navbar.imgsTabColour{
	border-bottom-color: var(--colourGreen);
}

.top_navbar.pplTabColour{
	border-bottom-color: var(--colourMint);
}

.top_navbar .navTabDiv{
	display:inline-block;
	position: relative;
	opacity: 0;
	font-family: var(--mainFontFamily);
	font-size:14px;
	cursor: default;
	
	width: 0px;	
	transition: width 0.7s, opacity 0.7s;
}
.top_navbar .navTabDiv.active{
	display:inline-block;
	opacity: 1;
	width: 50px;
	transition: width 0.7s, opacity 0.7s;
}

#fullTreeTab_div.active {
	width: 60px;	
}

.navTabDiv{
	height: calc(var(--navButtonHeight) + var(--navButtonMargin));
	vertical-align: middle;
	line-height: var(--navButtonHeight);
}

.icon-tree{	
	height: 24px;
	width: 24px;
	transform: scale(1) translate(0, 2px);
}

/* Scroll */
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: var(--colourDarkerPurple); 
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colourBrown); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colourBrown); 
}

